{% include "base.html" %} {%load tailwind_filters %} {% block content %}

<section class="w-1/3 mx-auto">
    <div class="card w-96 bg-base-100">
        <div class="card-body">
            <h2 class="card-title">Your Profile</h2>
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
            <div class="card-actions justify-end">
                <a href="/change-password/" class="btn btn-warning"
                    >Change Password</a
                >
                <a
                    href="/change-password-without-old-password/"
                    class="btn btn-info"
                    >Change Password Without Old Password</a
                >
            </div>
        </div>
    </div>
</section>
{% endblock content %}
